.Header {
    background: lightgrey;
    padding: 16px;
}

.Container {
    max-width: 1250px;
    /* border: 1px solid red; */
    margin: auto;
}


.Posts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;       
}

.LoadingArea {
    /* border: 1px solid red; */
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoadingArea Button {

}
